#main-body {
    width: auto;
    border: 10px solid #00697F;
}

table {
    border-collapse: collapse;
    color: #47DEFF;
    font-size: 36px;
    margin: 0 auto;

}

tr {
    border: 1px #47DEFF solid;
}

tr th{
    background-color: #00697F;
    font-size: 50px;
}

td {
    height: 55px;
    font-size: 60px;
}

button {
    border: 1px;
    background-color: #00697F;
    font-size: 50px;
    color: #47DEFF;

}

#deduct-button, #plus-button{
    border: 0;
    background-color: transparent;
    width: auto;
    height: auto;
}

#deduct-button:hover, #plus-button:hover{
    border-radius: 20px;
}

#spinner {
    position: absolute;
    margin-left: 48%;
    margin-top: 25%;
    z-index: 2;
}