nav {
    background-color: #44007F;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

#title {
    font-size: 48px;
    float: left;
    padding: 0 auto;
    font-family: sans-serif;
}

li {
    display: inline;
    background-color: transparent;
    padding: 10px 10px;
}

a {
    font-size: 38px;
    text-decoration: none;
    color: #9E31FF;
    font-weight: bold;
}


#add-drink-button {
    border-radius: 10px;
    color: #44007F;
    background-color: #9E31FF;
    height: 40px;
    font-size: 38px;
    margin: 20px;
    float: right;
    border: 0px;
}

#add-drink-button:hover {
    background-color: lightgray;
}



#main-content {
    margin: 0 auto;

}